html {
    scroll-behavior: smooth;
  }
body{
    font-family: "Montserrat";
    font-weight: 300;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1{
    font-weight: 300;
}
a:link{
    text-decoration: none;
    outline:none;
}
a, button { outline: none !important; }
.navbar > a, .dropdown > a, .nav-item > a, .dropdown > div.dropdown-menu > a,.navbar > a.navbar-brand{
    position: relative;
}

/* Body */


/* Nav bar*/
.dropdown-item.active, .dropdown-item:active {
    background-color: #f6f6f6;
    font-weight: bold;
    color: black;
}
a.dropdown-item:hover{
    font-weight: bold;
}
.nav-custom {
    background-color:  #333333;
    /* #004445; */
}
.navbar-brand{
    color: rgb(255, 255, 255);
    padding-right: 3.3%;
}
.container-fluid{
    padding: 0;
    height: 10%;
}
.form-inline .form-control {
    width: 500px;
    text-align: center;
    margin-left: 24%;
    position: static;
}
a.navbar-brand > h1{
    font-size: 1.5rem;
    padding: 0px;
    margin: 0px;
    margin-right: 16px;
}
.dropdown > a::before, .nav-item > a::before, .dropdown > div.dropdown-menu > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0px;
    background-color: honeydew;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.navbar > a.navbar-brand > h1::before {
    content: "";
    position: absolute;
    width: 71%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: honeydew;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.dropdown > a:hover::before, .nav-item > a:hover::before, .navbar > a.navbar-brand > h1:hover::before, .dropdown > div.dropdown-menu > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

@media (max-width: 1077px){
    .form-inline .form-control {
        width: 440px;
    }
    .dropdown > a:hover::before, .nav-item > a:hover::before, .navbar > a.navbar-brand > h1:hover::before, .dropdown > div.dropdown-menu > a:hover::before {
        visibility: hidden;
    }
}
@media (min-width: 1500px){
    .form-inline .form-control {
        width: 600px;
        margin-left: 14%;
    }
}
@media (max-width: 991px){
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin: auto;
    }
    .navbar{
        text-align: center;
    }
}


/* banner */
#banner{
    text-align: center;
    margin-top: 32px;
    background-color: #333333;
    background-image: url("../images/blog/earthmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#banner video {
    position: absolute;
    right: 0;
    top: -140px;
    left: 0;
    width: 1470px !important;
    height: auto !important;
    overflow: hidden;
  }
.text_center_desktop {
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translate(50%, 50%) !important;
    color: white;
    display: block;
}
.text_center_mobile {
    position: absolute;
    top: 17%;
    right: 50%;
    transform: translate(50%, 50%) !important;
    color: white;
    display: none;
}

#blog_title {
    font-size: 3.5rem;
    font-weight: bold;
}
#blog_subtitle {
    font-size: x-large;
}


/* content */
#content{
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 4% 6%;
    position: relative;
    margin-top: -80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: justify;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    padding: 0 8% 50px 16.66%;
    width: 100%;
}
#mobile_title{
    text-align: center;
    margin-bottom: 50px;
    border: 2px solid black;
    display: none;
}
article {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}
.timeline__nav {
    position: fixed;
    z-index: 99;
    left: 17.5%;
    -webkit-transition: top .3s ease-out;
    transition: top .3s ease-out;
}
.timeline__nav ul {
    list-style: none;
    list-style-position: inside;
    margin: 15px 0;
}
.timeline__nav ul li {
    margin: 15px 0;
    padding-left: 0;
    list-style-type: none;
    color: #bfc1c3;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.timeline__nav ul li.active {
    font-weight: bold;
    color: #065c6f;
    border-bottom: 1px dotted transparent;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}
.timeline__nav ul li:hover {
    color: #000;
  }

@media(max-width: 1474px) {
    #banner {
      /* margin-top: 100px; */
      height: 400px;
    }
}
@media(max-width: 1144px) {
    #banner {
        /* margin-top: 50px !important; */
        width: 100%;
        height: 200px;
    }
    #content{
        position: static;
        margin-top: 0;
        padding: 4% 10% !important;
        width: 100%;
        box-shadow: none;
    }
    .timeline__nav{left: 3%;}
}
@media(max-width: 800px){
    .timeline__nav{display: none;}
    .wrapper{padding: 0 4% 50px 4%;}
}
@media(max-width: 650px){
    #banner {
        background-attachment: scroll;
        height: 200px;
    }
    .text_center_desktop{display: none;}
    .text_center_mobile{display: block; top:-6%;}
    #mobile_title{display: block;}
}
#content h2{
    padding: 0;
    margin: 30px 0 20px 0;
}
#content p{
    font-weight: 400;
    font-family: 'Lora', serif;
} 
#buttons{text-align: center;}
#buttons > a > button{
    background-color: white;
    border: 2px solid #065c6f;
    border-radius: 25px;
    color: #065c6f;
    font-weight: bold;
    padding: 5px 20px;
    margin: 40px 20px 0 20px;
    animation: blinker 1.2s linear infinite alternate;
    width: 250px;
}
#buttons > a > button:hover{
    animation: none;
}
@keyframes blinker {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #065c6f;
    font-weight: bold;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 20px;
}
#buttons > a > button:hover {
    background-color: rgba(0, 0, 0, 0.1);
} 
.button:hover span:after {
    opacity: 1;
    right: 0;
}


/* footer */
footer{
    font-family: 'Raleway', sans-serif;
    font-weight: 378;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    /* background-image: linear-gradient(white, #333333); */
}
.footer-icon{
    padding: 20px 10px;
}
footer a{
    color: black;
}
footer a:hover{
    color: rgb(144, 144, 144);
}

/* top button */
#back2Top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #4D4D4D; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    overflow: hidden;
}
#back2Top:hover {
    text-decoration: none; 
}

#cookies-eu-banner{
    background-color: #333333;
    color: honeydew;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000000000;
    text-align: center;
    font-size: 14px;
}
#cookies-eu-banner_text{
    display: inline-flex;
    margin: 10px 50px;
}
#cookies-eu-banner_buttons{
    display: inline-flex;
    margin: 10px;
}
#cookies-eu-accept{
    background-color: #333333;
    color: rgb(238, 253, 238);
    border: 1px solid honeydew;
    padding: 5px 10px;
}
#cookies-eu-accept:hover{
    color: rgb(227, 233, 227);
    border: 1px solid rgb(227, 233, 227);
}